<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="card-header bg-info">
            <h4 class="m-b-0 text-white">Promo Offer</h4>
          </div>

          <div class="col-md-12 clearfix">
            <div class="button-box m-t-20 m-b-20 pull-right">
              <button type="button"
                      class="btn btn-primary"
                      (click)="addStart(promoModal)">
                <i class="fa fa-plus-circle"></i>&nbsp;Add New
              </button>
            </div>
          </div>

          <div class="col-md-12 clearfix">
            <div class="button-box m-t-20 m-b-20 pull-left">
              <button type="button" class="btn btn-primary" (click)="loadArchivedData()">
                <i class="fa fa-plus-circle"></i>&nbsp;Archive Data
              </button>
            </div>
          </div>

          <div class="col-md-12">
            <ng-template #nodata>
              <h3 class="row offset-1">There is no data to show</h3>
            </ng-template>
            <div class="table-responsive"
                 *ngIf="(allPromo| async)?.length>0;else nodata">

              <div class="col-sm-12 col-md-12">

                <div class="dataTables_length" id="myTable_length">
                  <label>
                    Show <select name="myTable_length" [(ngModel)]="row"
                                 aria-controls="myTable" class="form-control form-control-sm">
                      <option value="1">1</option>
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="15">15</option>
                      <option value="20">20</option>
                      <option value="30">30</option>
                    </select> entries
                  </label>
                </div>
              </div>

              <div class="col-sm-12 col-md-6">
                <div id="myTable_filter" class="dataTables_filter">
                  <label>
                    Search:<input type="search" [(ngModel)]="search"
                                  class="form-control form-control-sm" placeholder="" aria-controls="myTable">
                  </label>
                </div>
              </div>
            </div>
            <table class="table table-bordered table-striped"
                   role="grid"
                   aria-describedby="myTable_info">
              <thead>
                <tr>
                  <th class="sorting">Promo ID</th>
                  <th class="sorting" (click)="sort('name')">Code</th>
                  <th>Promo Details</th>
                  <th class="text-nowrap sorting">Action</th>
                  <th ></th>
                </tr>
              </thead>
              <tbody *ngFor="let item of allPromo| async|orderBy: key:reverse|filter:search|paginate:{ itemsPerPage: row, currentPage: p };let i=index; ">
                <tr>
                  <td>{{i+1}}</td>
                  <td>{{item.promoCode}}</td>
                  <td>{{item.promoDetails}}</td>
                  <td>{{item.isActive}}</td>
                  <td class="text-nowrap">
                    <a href="javascript:void(0)"
                       tooltip="Edit"
                       (click)="editStart(promoModal, item.promoID)">
                      <i class="fa fa-pencil text-inverse m-r-10"></i>
                    </a>
                    <a href="javascript:void(0)"
                       tooltip="Delete"
                       (click)="deleteStart(deleteConfirmation, item.promoID)">
                      <i class="fa fa-trash-o text-danger"></i>
                    </a>
                  </td>
                </tr>

              </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event" maxSize="2" directionLinks="true"></pagination-controls>

          </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<!--This Is Modal Template-->
<ng-template #promoModal>
  <div class="modal-header bg-info">
    <h4 class="modal-title text-white" id="exampleModalLabel1">Create Promo Offer</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form class="form-horizontal form-bordered" [formGroup]="promoForm" (ngSubmit)="submit()">
    <div class="modal-body">
      <div class="form-body">
        <div class="form-group row p-l-30 p-r-30">
          <label for="code" class="control-label text-right col-md-4 label-input">Code</label>
          <div class="col-md-8">
            <input id="code" type="text" placeholder="Promo Code" class="form-control" formControlName="promoCode" />
          </div>
        </div>
        <div class="form-group row p-l-30 p-r-30">
          <label for="promoDetails" class="control-label text-right col-md-4 label-input">Promo Details</label>
          <div class="col-md-8">
            <textarea id="promoDetails" placeholder="Promo Details" class="form-control" formControlName="promoDetails" ></textarea>
          </div>
        </div>

        <div class="form-group row p-l-30 p-r-30">
          <div class="offset-sm-4 col-sm-8">
            <div class="checkbox checkbox-success">
              <input id="activeCheckbox"
                     type="checkbox"
                     formControlName="isActive" />
              <label for="activeCheckbox" class="form-check-lebel">IsActive?</label>
            </div>
          </div>
        </div>
        
      </div>

    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-info" id="btnSubmit"> <i class="fa fa-check"></i> {{btnSubmit}}</button>
      <button type="button" class="btn btn-inverse" (click)="modalRef.hide()">Cancel</button>
    </div>
  </form>
</ng-template>

<!--This is Delete Confirmation Template-->

<ng-template #deleteConfirmation>
  <div class="modal-body text-center">
    <p>Do you want to confirm?</p>
    <button type="button" class="btn btn-default" (click)="confirmDelete()">Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()">No</button>
  </div>
</ng-template>
