<!-- Footer -->
<footer class="footer-client black-client" role="contentinfo">
  <div class="wrap-client">
    <div class="row-client">
      <!-- Column -->
      <article class="one-half">
        <h6>About us</h6>
        <p style="text-align: justify">
          busticket.com is a premium online booking portal 
          which allows you to purchase tickets for various bus services. 
          We also allow you to return ticket. For payment we accept bKash, 
          iPay, VISA, MasterCard, BRAC Bank, DBBL, ROCKET, Upay, AMERICAN EXPRESS Card.
        </p>
      </article>
      <!-- //Column -->
      <!-- Column -->
      <article class="one-fourth">
        <h6>Need help?</h6>
        <p>Contact us via phone or email:</p>
        <p class="contact-data">
          <span class="ico phone"></span> +1 555 555 555
        </p>
        <p class="contact-data">
          <span class="ico email"></span>
          <a href="mailto:help@busticket.com">help@busticket.com</a>
        </p>
      </article>
      <!-- //Column -->
      <!-- Column -->
      <article class="one-fourth">
        <h6>Follow us</h6>
        <ul class="social">
          <li class="facebook"><a href="#" title="facebook">facebook</a></li>
          <li class="twitter"><a href="#" title="twitter">twitter</a></li>
          <li class="gplus"><a href="#" title="gplus">google plus</a></li>
        </ul>
      </article>
      <!-- //Column -->
    </div>

    <div class="copy">
      <p>Copyright 2019, busticket.com. All rights reserved.</p>

      <nav role="navigation" class="foot-nav">
        <ul>
          <li><a href="#" title="Home">Home</a></li>
          <li><a href="#" title="Booking Ticket">Booking Ticket</a></li>
          <li><a href="#" title="Bus Reservation">Bus Reservation</a></li>
          <li><a href="#" title="Contact">Contact</a></li>
          <li><a href="#" title="About Us">About Us</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
