<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">

        <li class="user-pro">
          <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><img src="assets/images/logoHeader2.png" alt="user-img" class="img-circle"><span class="hide-menu">&nbsp;Bus Ticket </span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a [routerLink]="['userProfile']"><i class="ti-user"></i> My Profile</a></li>
           
            <li><a href="javascript:void(0)" (click)="logOut()"><i class="fa fa-power-off"></i> Logout</a></li>
          </ul>
        </li>

        <li>
          <a class="waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
            <i class="fa fa-dashboard"></i>
            <span class="hide-menu">Dashboard</span>
          </a>
        </li>

        <li>
          <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-bus"></i><span class="hide-menu">Bus Management</span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a [routerLink]="['brand']">Brand</a></li>
            <li><a [routerLink]="['busCategory']">Bus Category</a></li>
            <li><a [routerLink]="['busDetails']">Bus details</a></li>
          </ul>
        </li>

        <li>
          <a class="waves-effect waves-dark" [routerLink]="['routeDetails']" aria-expanded="false"><i class="fa fa-road"></i><span class="hide-menu">Route Details</span></a>
        </li>



        <!--<li>
    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-shopping-basket"></i><span class="hide-menu">Reservation</span></a>
    <ul aria-expanded="false" class="collapse">
      <li><a [routerLink]="['ticketReservation']">Ticket Reservation</a></li>
      <li><a [routerLink]="['busReservation']">Bus Reservation</a></li>
    </ul>
  </li>-->
        <li>
          <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-shopping-basket"></i><span class="hide-menu">Reservation</span></a>
          <ul aria-expanded="false" class="collapse">
            <li>
              <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-ticket">&nbsp;</i><span class="hide-menu">Ticket Reservation</span></a>
              <ul aria-expanded="false" class="collapse">
                <li><a [routerLink]="['ticketReservation']">Reserve Ticket</a></li>
                <li><a [routerLink]="['tktResrvDetails']">Reservation Details</a></li>
                <li><a [routerLink]="['ticketConfirmation']">Ticket Confirmation</a></li>
                <li><a [routerLink]="['paymentConfirmation']">Pmt Confirmation</a></li>
                <li><a [routerLink]="['ticketPrint']">Email Confirmation</a></li>

              </ul>
            </li>


            <li>
              <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-bus">&nbsp;</i><span class="hide-menu">Bus Reservation</span></a>
              <ul aria-expanded="false" class="collapse">
                <li><a [routerLink]="['busReservation']">Reserve Bus</a></li>
                <li><a [routerLink]="['busResrvDetails']">Reservation Details</a></li>

              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-users"></i><span class="hide-menu">Vendor</span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a [routerLink]="['vendor']"> Vendor</a></li>
            <li><a [routerLink]="['vendorPayment']"> Vendor Payment</a></li>

          </ul>
        </li>

        <li>
          <a class="waves-effect waves-dark" [routerLink]="['user']" aria-expanded="false"><i class="fa fa-user"></i><span class="hide-menu">User</span></a>
        </li>


        <li>
          <a class="waves-effect waves-dark" [routerLink]="['promo']" aria-expanded="false"><i class="fa fa-gift"></i><span class="hide-menu">Promo Offer</span></a>
        </li>

        <li>
          <a class="waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
            <i class="fa fa-book"></i>
            <span class="hide-menu">Report</span>
          </a>
        </li>

      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
