<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="card-header bg-info">
            <h4 class="m-b-0 text-white">Ticket Reservation Details</h4>
          </div>
          <div class="col-md-12 clearfix">
            <h2>This Is Only Table</h2>
            <!--<div class="button-box m-t-20 m-b-20 pull-right">
              <button type="button" class="btn btn-primary" (click)="openModal(ticketReservationModal)"><i class="fa fa-plus-circle"></i>&nbsp;Add New</button>
            </div>-->
          </div>
          <div class="col-md-12">
            <div class="table-responsive">
              <table id="ticketReservationTable" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Bus Details ID</th>
                    <th>Brand</th>
                    <th>Bus Category</th>
                    <th>Vendor</th>
                    <th class="text-nowrap">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Tiger Nixon</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>Edinburgh</td>
                    <td class="text-nowrap">
                      <a href="javascript:void(0)" tooltip="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                      <a href="javascript:void(0)" tooltip="Delete" (click)="confirmModal(deleteConfirmation)"> <i class="fa fa-trash-o text-danger"></i> </a>


                    </td>
                  </tr>


                  <tr>
                    <td>Donna Snider</td>
                    <td>Customer Support</td>
                    <td>New York</td>
                    <td>New York</td>
                    <td class="text-nowrap">
                      <a href="javascript:void(0)" tooltip="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                      <a href="javascript:void(0)" tooltip="Delete" (click)="confirmModal(deleteConfirmation)"> <i class="fa fa-trash-o text-danger"></i> </a>


                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--This is Delete Confirmation Template-->

<ng-template #deleteConfirmation>
  <div class="modal-body text-center">
    <p>Do you want to confirm?</p>
    <button type="button" class="btn btn-default" (click)="confirmDelete()">Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()">No</button>
  </div>
</ng-template>
