<main class="main-client" role="main">
  <!-- Intro -->
  <div class="intro">
    <div class="wrap-client">
      <div class="textwidget">
        <h1 class="wow fadeInDown">booking your tickets?</h1>
        <h2 class="wow fadeInUp">You've come to the right place.</h2>


        <!-- Search -->
        <div class="advanced-search color" id="booking">
          <div class="wrap-client">
            <div class="pt-10 m-b-30 col-md-12" id="booking">
              <form (ngSubmit)="searchBus(f)" ngNativeValidate #f="ngForm" role="form">
                <!-- Row -->
                <div class="row-client">
                  <div class="col-md-3 float-left">
                    <label class="m-t-20 float-left">Departure Date</label>
                    <input type="text" class="form-control" bsDatepicker ngModel name="departDate" placeholder="Select Date" />
                  </div>

                  <div class="col-md-3 float-left">
                    <div class="form-group">
                      <label class="m-t-20 float-left">From</label>

                      <input type="text" class="form-control" placeholder="picup place" [typeahead]="cities" ngModel
                        name="picupPoint" />

                    </div>
                  </div>
                  <div class="col-md-3 float-left">
                    <div class="form-group">
                      <label class="m-t-20 float-left">To</label>
                      <input type="text" class="form-control" placeholder="drop place" [typeahead]="cities" ngModel
                        name="dropPoint" />
                    </div>
                  </div>
                  <div class="col-md-3  float-left">
                    <div class="m-b-40 pb-2"></div>

                  
                    <button type="submit" [disabled]="!f.valid" class="btn btn-searchTicket " id="btn-search"
                      style="background-color: white;">
                      Search
                    </button>
                  </div>
                </div>
                <!--// Row -->
              </form>
            </div>
          </div>
        </div>
        <!-- //Search -->


       
      </div>
    </div>
  </div>
  <!-- //Intro -->




  <!-- Services iconic -->
  <div class="services iconic white">
    <div class="wrap-client">
      <div class="col-md-12">
        <div class="col-md-12 text-center pink">
          <h1><b>3 EASY STEPS TO BUY BUS TICKETS</b></h1>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-4 float-left">
              <div class="col-md-3 float-left easyStepsFaDiv">
                <i class="fa fa-search easyStepsFa"></i>
              </div>
              <div class="col-md-9 float-left easyStepsDiv">
                <h3 class="easySteps">Search</h3>
                <div>
                  Choose your destination and journey dates then search for buses
                </div>
              </div>
            </div>
            <div class="col-md-4 float-left">
              <div class="col-md-3 float-left easyStepsFaDiv">
                <i class="fa fa-bus easyStepsFa"></i>
              </div>
              <div class="col-md-9 float-left easyStepsDiv">
                <h3 class="easySteps">Select</h3>
                <div>
                  Select your desired trip and choose your seats
                </div>
              </div>
            </div>
            <div class="col-md-4 float-left">
              <div class="col-md-3 float-left easyStepsFaDiv">
                <i class="fa fa-money easyStepsFa"></i>
              </div>
              <div class="col-md-9 float-left easyStepsDiv">
                <h3 class="easySteps">Pay</h3>
                <div>
                  Pay for the tickets via Debit / Credit Cards, bKash or cash
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center " style="color:#999999;font-size:1.3em;padding: 0;">
            <div class="col-md-6 float-left" style="padding:10px;">
              <div class="easyStepsSafeDiv">
                <i class="fa fa-lock easyStepsSafeFa"></i>
                Safe and Secure online payments
              </div>
            </div>
            <div class="col-md-6 float-left" style="padding:10px;">
              <div class="easyStepsSafeDiv">
                <i class="fa fa-home easyStepsSafeFa"></i>
                Cash on Delivery available
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>



  <!-- //Services iconic -->
  <!-- Call to action -->
  <div class="black-client cta">
    <div class="wrap-client">
      <p class="wow fadeInLeft">Are you want to resurve a bus? Click the resurve button.</p>
      <a href="#" class="btn btn-purchaseTicket huge-client color right-client wow fadeInRight">Resurve Bus</a>
    </div>
  </div>
  <!-- //Call to action -->
  <!-- Services -->
  <div class="services boxed white-client" id="services">

    <!-- //Item -->
  </div>
  <!-- //Services -->
  <!-- Testimonials -->
  <div class="testimonials white-client center ">
    <div class="wrap-client">
      <h1 class="text-center pink"> <b>AVAILABLE BUS OPERATORS</b> </h1>
      <br>
      <br>
      <div class="col-lg-3 float-left">
        <h4> <i class="fa fa-bus pink"></i> AK Travels</h4>
        <h4> <i class="fa fa-bus pink"></i> S.Alam</h4>
        <h4> <i class="fa fa-bus pink"></i> Econo Service</h4>
        <h4> <i class="fa fa-bus pink"></i> Aqib Enterprise</h4>
        <h4> <i class="fa fa-bus pink"></i> Barkat Travels</h4>
      </div>
      <div class="col-lg-3 float-left">
        <h4> <i class="fa fa-bus pink"></i> Dhaka Express</h4>
        <h4> <i class="fa fa-bus pink"></i> Jatayat AC</h4>
        <h4> <i class="fa fa-bus pink"></i> Falguni Paribahan</h4>
        <h4> <i class="fa fa-bus pink"></i> Khadiza VIP Service</h4>
        <h4> <i class="fa fa-bus pink"></i> Kingfisher Travels</h4>
      </div>
      <div class="col-lg-3 float-left">
        <h4> <i class="fa fa-bus pink"></i> Kuakata Express</h4>
        <h4> <i class="fa fa-bus pink"></i> Jline Paribahan</h4>
        <h4> <i class="fa fa-bus pink"></i> RM Travels</h4>
        <h4> <i class="fa fa-bus pink"></i> Relax Transport</h4>
        <h4> <i class="fa fa-bus pink"></i> Modern Line</h4>
      </div>
      <div class="col-lg-3 float-left">
        <h4> <i class="fa fa-bus pink"></i> Desh Travels</h4>
        <h4> <i class="fa fa-bus pink"></i> Sarker Travels</h4>
        <h4> <i class="fa fa-bus pink"></i> Senjuti Travels</h4>
        <h4> <i class="fa fa-bus pink"></i> Silk Line</h4>
        <h4> <i class="fa fa-bus pink"></i> Uzzal Travels</h4>
      </div>
    </div>
  </div>

  <div class="testimonials white-client center ">
    <div class="wrap-client">
      <h1 class="text-center pink"> <b>POPULAR BUS ROUTES</b> </h1>
      <br>
      <br>
      <div class="col-lg-3 float-left">
        <h4> <a href="" class="colorh4"><i class="fa fa-map-marker pink "></i> DHAKA - CHITTAGONG</a></h4>
        <h4> <a href="" class="colorh4"><i class="fa fa-map-marker pink "></i> DHAKA - COX'S BAZAR</a></h4>
        <h4> <a href="" class="colorh4"><i class="fa fa-map-marker pink "></i> DHAKA - RANGAMATI</a></h4>
        <h4> <a href="" class="colorh4"><i class="fa fa-map-marker pink "></i> DHAKA - BANDARBAN</a></h4>
        <h4> <a href="" class="colorh4"><i class="fa fa-map-marker pink "></i> DHAKA - KHAGRACHHARI</a></h4>
      </div>
      <div class="col-lg-3 float-left">
        <h4> <a href="" class="colorh4"><i class="fa fa-map-marker pink "></i> CHITTAGONG - KOLKATA</a></h4>
        <h4> <a href="" class="colorh4"><i class="fa fa-map-marker pink "></i> CHITTAGONG - SILIGURI</a></h4>
        <h4> <a href="" class="colorh4"><i class="fa fa-map-marker pink "></i> CHITTAGONG - SHERPUR</a></h4>
        <h4> <a href="" class="colorh4"><i class="fa fa-map-marker pink "></i> CHITTAGONG - RAJSHAHI</a></h4>
        <h4> <a href="" class="colorh4"><i class="fa fa-map-marker pink "></i> CHITTAGONG - BARGUNA</a></h4>
      </div>
      <div class="col-lg-3 float-left">
        <h4> <a href="" class="colorh4"><i class="fa fa-map-marker pink "></i> DHAKA - BARISAL</a></h4>
        <h4> <a href="" class="colorh4"><i class="fa fa-map-marker pink "></i> DHAKA - KUAKATA</a></h4>
        <h4> <a href="" class="colorh4"><i class="fa fa-map-marker pink "></i> DHAKA - TANGAIL</a></h4>
        <h4> <a href="" class="colorh4"><i class="fa fa-map-marker pink "></i> DHAKA - JESSORE</a></h4>
        <h4> <a href="" class="colorh4"><i class="fa fa-map-marker pink "></i> DHAKA - KHULNA</a></h4>
      </div>
      <div class="col-lg-3 float-left">
        <h4> <a href="" class="colorh4"><i class="fa fa-map-marker pink "></i> CHITTAGONG - SATKHIRA</a></h4>
        <h4> <a href="" class="colorh4"><i class="fa fa-map-marker pink "></i> CHITTAGONG - SYLHET</a></h4>
        <h4> <a href="" class="colorh4"><i class="fa fa-map-marker pink "></i> CHITTAGONG - KISHOREGANJ</a></h4>
        <h4> <a href="" class="colorh4"><i class="fa fa-map-marker pink "></i> CHITTAGONG - PABNA</a></h4>
        <h4> <a href="" class="colorh4"><i class="fa fa-map-marker pink "></i> CHITTAGONG - NAOGAON</a></h4>
      </div>
    </div>
  </div>
  <!-- //Testimonials -->

  <div class="testimonials white-client center ">
    <div class="wrap-client">
      <h1 class="text-center pink"> <b>WE ACCEPT</b> </h1>
      <br>
      <br>
      <div class="row">
        <div class="col-12">
          <marquee behavior="#" direction="#">
            <img class="weAccept" src="../../../assets/images/1.png" alt="#">
            <img class="weAccept" src="../../../assets/images/2.png" alt="#">
            <img class="weAccept" src="../../../assets/images/3.png" alt="#">
            <img class="weAccept" src="../../../assets/images/4.png" alt="#">
            <img class="weAccept" src="../../../assets/images/5.png" alt="#">
            <img class="weAccept" src="../../../assets/images/6.png" alt="#">
            <img class="weAccept" src="../../../assets/images/7.png" alt="#">
            <img class="weAccept" src="../../../assets/images/8.png" alt="#">
            <img class="weAccept" src="../../../assets/images/9.png" alt="#">
            <img class="weAccept" src="../../../assets/images/10.png" alt="#">
          </marquee>
        </div>
      </div>
    </div>
  </div>
</main>
