<header class="header" role="banner">
  <div class="wrap-client">
    <!-- Logo -->
    <div class="logo">
      <a routerLink="/home" title="Bus Ticket"
        ><img src="/assets/images/transfers.jpg" alt="Transfers"
      /></a>
    </div>
    <!-- Logo -->
    <!-- Main Nav -->
    <nav role="navigation" class="main-nav">
      <ul>
        <li><a routerLink="/admin/dashboard" title="">Home</a></li>
        <li>
          <a routerLink="/bookTicket" title="Booking ticket">Booking Ticket</a>
        </li>
        <li>
          <a routerLink="/busReservation" title="Bus reservation"
            >Bus Reservation</a
          >
        </li>
        <li><a routerLink="/contact" title="Contact">Contact</a></li>
        <li><a routerLink="/about" title="About u">About us</a></li>
      </ul>
    </nav>
    <!-- Main Nav -->
  </div>
</header>
