<div class="wrap-client" style="margin-top: 10%; margin-bottom: 10%;">
  <div class="row-client ">
    <h1 class="d-flex justify-content-center">
      BusTicket Ticket Booking System
    </h1>
    <div class="d-flex justify-content-center">
      <img
        src="../../assets/images/busLogo.png"
        alt="Bus Logo"
        class="busLogo mx-auto d-block"
      />
    </div>
    <p class="d-flex justify-content-center">Please Choose the API Key</p>
    <div class="d-flex justify-content-center">
      <button
        *ngIf="!coreApi"
        (click)="setCoreAPI()"
        [hidden]="!show"
        class="btn btn-primary btn-CoreApi"
      >
        Core Api
      </button>

      <button
        *ngIf="!webApi"
        (click)="setWebAPI()"
        [hidden]="!show"
        class="btn btn-primary btn-WebApi"
      >
        Web Api
      </button>
    </div>
  </div>
</div>

