<div class="container-fluid">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-header bg-info"><i class="fa fa-user"></i>&nbsp;Manage Profile</h4>

        <form class="form-horizontal p-t-20">
          <div class="form-group row">
            <label for="name" class="col-sm-3 control-label">Name*</label>
            <div class="col-sm-9">
              <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text"><i class="ti-user"></i></span></div>
                <input type="text" class="form-control" id="name" placeholder="Name">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="emailusername" class="col-sm-3 control-label">Email/User Name*</label>
            <div class="col-sm-9">
              <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text"><i class="ti-email"></i></span></div>
                <input type="email" class="form-control" id="emailusername" placeholder="Enter email or user name">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="emailusername" class="col-sm-3 control-label">Photo</label>
            <div class="col-sm-3">
              
                  
                  <label for="image">Profile Image</label>
                  <input type="file" id="image" class="dropify" />
               

            </div>
          </div>

          <div class="form-group row m-b-0">
            <div class="offset-sm-3 col-sm-9">
              <button type="submit" class="btn btn-success waves-effect waves-light">Update Profile</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-header bg-info"><i class="fa fa-password"></i>&nbsp;Change Password</h4>
        <form class="form-horizontal p-t-20">

          <div class="form-group row">
            <label for="crntPwd" class="col-sm-3 control-label">Current Password*</label>
            <div class="col-sm-9">
              <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-unlock-alt"></i></span></div>
                <input type="password" class="form-control" id="crntPwd" placeholder="Enter Current pwd">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="newpwd" class="col-sm-3 control-label"> New Password*</label>
            <div class="col-sm-9">
              <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-unlock-alt"></i></span></div>
                <input type="password" class="form-control" id="newpwd" placeholder="Enter New pwd">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="confrmPwd" class="col-sm-3 control-label">Confirm Password*</label>
            <div class="col-sm-9">
              <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-unlock-alt"></i></span></div>
                <input type="password" class="form-control" id="confrmPwd" placeholder="Enter Confirmed pwd">
              </div>
            </div>
          </div>

          <div class="form-group row m-b-0">
            <div class="offset-sm-3 col-sm-9">
              <button type="submit" class="btn btn-success waves-effect waves-light">Update Profile</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


