<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <div class="card card-body printableArea">
        <h3><b>Confirmation</b></h3>
        <hr>
        <div class="row">


          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Journey Details</h4>
                <div class="table-responsive">
                  <table class="table color-table purple-table">
                    <thead>
                      <tr>
                        <th>Journey Dete</th>
                        <th>Board Point</th>
                        <th>Drop Point</th>
                        <th>Brand</th>
                        <th>Seat No</th>
                        <th>Journey Time</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Nigam</td>
                        <td>Eichmann</td>
                        <td>@Sonu</td>
                        <td>Eichmann</td>
                        <td>@Sonu</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Personal Details</h4>
                <div class="table-responsive">
                  <table class="table color-table primary-table">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                        <th>Gender</th>
                        <th>Ticket Price</th>
                        <th>Total Amount</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Nigam</td>
                        <td>Eichmann</td>
                        <td>@Sonu</td>
                        <td>Eichmann</td>
                        <td>@Sonu</td>

                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Transaction Details</h4>
                <div class="table-responsive">
                  <table class="table color-table primary-table">
                    <tr>
                      <td>
                        <p>Please Put Your Trnsaction Id Here.</p>
                        <label>Transaction ID :</label>&nbsp;<input type="text" />
                      </td>
                    </tr>

                  </table>
                </div>
              </div>
            </div>
          </div>

          <div>
            <button type="submit" class="btn btn-success"> Confirm </button>
            <button type="button" class="btn btn-inverse">Cancel</button>
          </div>
        </div>


      </div>
    </div>
  </div>

</div>







